*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  background-color: #131316;
  color: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 175px max-content;
  align-content: center;
}

.destroy {
  display: none;
}

.txt--italic {
  font-style: italic;
  margin-bottom: 2rem;
}

h1 {
  font-size: clamp(2.25rem, 9.3vw - 1.8rem, 4rem);
  text-align: center;
  align-self: center;
  color: #ff79e9;
}

h2 {
  font-size: clamp(1.5rem, 8.8vw - 2.3rem, 3.15rem);
  margin-bottom: 1.25rem;
}

p {
  font-size: clamp(1rem, 5.3vw - 1.3rem, 2rem);
}

.drink {
  display: grid;
  justify-items: center;
  align-items: center;
}

.drink-ingredients {
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.drink-ingredients span {
  font-weight: bold;
  letter-spacing: 1px;
}

.drink-img {
  height: auto;
  width: 100%;
  max-width: 320px;
  aspect-ratio: auto 320 / 320;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.drink-category {
  font-style: normal;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-style: wavy;
  text-decoration-color: #ff79e9;
}

.drink-btn {
  display: inline-block;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  background: #ff79e9;
  border: none;
  color: #212121;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 16px;
  margin-bottom: 2rem;
}

.drink-btn:hover {
  background: #ff4de1;
  color: #080808;
  cursor: pointer;
  transition: 0.75s all;
}

/* CSS SPINNER */
#spinner {
  visibility: hidden;
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid #ff4de1;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#spinner.show {
  visibility: visible;
}
